body{
    height: 100vh;
    width: 100vw;
}
.create-account-btn{
    width: 320px;
    height: 40px;
    border-radius: 20px;
    margin-top: 3%;
}
.create-account-modal {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    margin: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(128, 128, 128, 0.377);
}
.header-modal{
    width: 100%;
    height: 50px;
    font-size: 16px;
    background-color: #EFFFF4;
    text-align: center;
    color: green;
    display: flex;
    align-items: center;
    margin: auto;
    padding-left: 4%;
}
.modal-content {
    position: absolute;
    margin: auto;
    background-color: white;
    border-radius: 3px;
    width: 736px;
    height: 513px;
    display: block;
}

.close-modal {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    font-size: 2rem;
}